{%extends 'todolist/main.html'%}

{%block content%}

<div class="header-bar">
    <div>
        <h1>Welcome {{request.user|title}}</h1>
        <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3> 
    </div>
    {% if request.user.is_authenticated %}
        <a href="{%url 'task-logout'%}">Logout</a>
    {%else%}
        <a href="{%url 'task-login'%}">Login</a>
    {%endif%}
</div>

<a class='icon' id='addicon' href="{% url 'task-create' %}">&#x2b;</a>

<form action="" method="get">
    <input type="text" name="search-area" id="search-area" value="{{search_input}}">
    <input type="submit" value="Search">
</form>

<div class="task-wrapper">
    {% for task in object_list %}
        <div class="item-wrapper">
            <div class="task-title">
                {%if task.complete %}
                    <div class="task-complete-icon"></div>
                    <i><s><a href="{% url 'task-update' task.id %}">{{task.title}}</a></s></i>
                    <a class='icon' href="{% url 'task-delete' task.id %}">&#xd7;</a>
                {%else%}
                    <div class="task-incomplete-icon"></div>
                    <a href="{% url 'task-update' task.id %}">{{task.title}}</a>
                    <a class='icon' href="{% url 'task-delete' task.id %}">&#xd7;</a>
                {%endif%}
            </div>
        </div>
    {% empty %}
        <p>No item in list.</p>
    {% endfor %}
</div>

{%endblock content%}